.vs/

.idea/

*.swp
*.swo

# Compiled Object files
*.slo
*.lo
*.o

# generated make/cmake files
CMakeSettings.json
build/
out/
cmake-*/
include/**/cmake-*/
lib/**/cmake-*/
lib/gl_visualizer/**/cmake-*/
.vscode

src/Examples/example*
src/Examples
tests/Testing/StrategyTests/Scratch*
src/Doxygen/html
tests/StrategyTests/Scratch/*.map
tests/StrategyTests/Scratch/*.path

# conan
CMakeCache.txt
CMakeFiles/
Makefile
bin/
cmake_install.cmake
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json
.vscode/launch.json
.vscode/settings.json
/.vscode/
