.DS_Store

.vs/

.idea/

*.swp
*.swo

# Compiled Object files
*.slo
*.lo
*.o

# generated make/cmake files
CMakeUserPresets.json
CMakeSettings.json
build/
out/
cmake-*/
include/**/cmake-*/
lib/**/cmake-*/
lib/gl_visualizer/**/cmake-*/
.vscode

Examples/example*
Examples
tests/Testing/StrategyTests/Scratch*
docs/Doxygen/html/
docs/Doxygen/latex/
tests/StrategyTests/Scratch/*.map
tests/StrategyTests/Scratch/*.path

# conan
CMakeCache.txt
CMakeFiles/
Makefile
bin/
cmake_install.cmake
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json
.vscode/launch.json
.vscode/settings.json
/.vscode/
