# This is a comment line. Comments have a hash tag in the beginning of the line

# Node counts. Preface with an N for node lines: 
# Format: N <hostname> <folder> <data size> <wall time> <node count list>
# Data sizes: tiny, small, medium, large, huge (Note, huge may take a LONG time to run)
# Wall time is the max execution time for a batch file. 
# The folders will be prepended with the present directory and /stapl

N rain /test/rel_alpha tiny 00:09:00 1 2
N rain /test/rel_alpha small 00:27:00 1 2 4 8
N rain /test/algorithms tiny 00:09:00 1 2
N rain /test/algorithms medium 00:45:00 1 2 4 8 16 32
N rain /test/algorithms small 00:27:00 1 2 4 8
# Removed bcause it made the nightly run past 3pm.-- N rain /test/algorithms large 00:20:00 1 2 4 8 16 32 64 128 256 512
